.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background: var(--color-green);
}

.offline {
  background: var(--color-orange-hex);
  opacity: 0.5;
}
